{% extends 'users/detail.html' %}
{% block user_details %}
  <div class="col-sm-9">
    <div class="row">

      <div class="col-sm-6">
        <ul class="list-group" id="messages">
    
          {% for message in likes %}
    
            <li class="list-group-item">
              <a href="/messages/{{ message.id }}" class="message-link"/>
    
              <a href="/users/{{ message.user.id }}">
                <img src="{{ message.user.image_url }}" alt="user image" class="timeline-image">
              </a>
    
              <div class="message-area">
                <a href="/users/{{ message.user.id }}">@{{ user.username }}</a>
                <span class="text-muted">{{ message.timestamp.strftime('%d %B %Y') }}</span>
                <p>{{ message.text }}</p>
              </div>
              {% if message.user.id != g.user.id %}
            <form method="POST" action="/users/add_like/{{ message.id }}" id="messages-form">
              <button class="
                btn 
                btn-sm 
                {{'btn-primary' if message in likes else 'btn-secondary'}}"
              >
                <i class="fa fa-thumbs-up"></i> 
              </button>
            </form>
            {% endif %}
            </li>
    
          {% endfor %}
    
        </ul>
      </div>

      <!-- {% for followed_user in user.following %}

        <div class="col-lg-4 col-md-6 col-12">
          <div class="card user-card">
            <div class="card-inner">
              <div class="image-wrapper">
                <img src="{{ followed_user.header_image_url }}" alt="" class="card-hero">
              </div>
              <div class="card-contents">
                <a href="/users/{{ followed_user.id }}" class="card-link">
                  <img src="{{ followed_user.image_url }}" alt="Image for {{ followed_user.username }}" class="card-image">
                  <p>@{{ followed_user.username }}</p>
                </a>
                {% if g.user.is_following(followed_user) %}
                  <form method="POST"
                        action="/users/stop-following/{{ followed_user.id }}">
                    <button class="btn btn-primary btn-sm">Unfollow</button>
                  </form>
                {% else %}
                  <form method="POST" action="/users/follow/{{ followed_user.id }}">
                    <button class="btn btn-outline-primary btn-sm">Follow</button>
                  </form>
                {% endif %}

              </div>
              <p class="card-bio">{{followed_user.bio}}}</p>
            </div>
          </div>
        </div>

      {% endfor %} -->

    </div>
  </div>
{% endblock %}